

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

}

.header h2 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bold;
}

.header a {
    font-family: 'Poppins';
    font-size: 18px;
    padding: 30px;
    background: white;
    text-decoration: none;
    color: black;
    border-radius: 30px;
   
}

.img{
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img .big_img {
    width: 1000px;

}
.img .side_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img .small_img {

    width: 485px;
}

.middle_content {
    display: flex;
    margin: 90px 0;
}

.middle_content p {
    font-family: 'Poppins';
    font-size: 20px;
    width: 80%;
}

.details_logement {
    font-size: 20px;
    margin-top: 75px;
    font-family: 'Poppins';
}

.details_logement h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 12px 0;
}

.reservation {   
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reservation ul li {
    display: flex;
    flex-direction: column;
}

.reservation label{
    font-family: 'Poppins';
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}
.reservation input {
    margin: 10px 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
}
.reservation .btn_reservation {
    margin: 15px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 30px;
    background: #222221;
}

.avis {
   margin-bottom: 100px;
}
.avis .commentaire{
    margin-bottom: 50px;
}
.avis h2{
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 50px 0;
}

.avis label {
    font-size: 20px;
    font-family: 'poppins';
}

.avis textarea {
    border-radius: 15px;
    width: 100%;
}

.avis select {
    margin-left: 20px;
    padding: 10px;
    border-radius: 30px;
    background: white;
    font-size: 20px;
    font-family: 'poppins';
}

.avis button{
    margin: 30px 0;
    font-family: 'poppins';
    color: white;
    padding: 20px 60px;
    font-size: 20px;
    background: #222221;
    border-radius: 30px;
}